#footer-left::after {content: var(--copyright)
  ;}

.slide-background {
    background-image: url(../img/logo_array.png),
    url(../img/noi.svg);

  background-size:
  12.5%,
  8%;}

.fragment.highlight-red.visible {color: #da2233 !important; font-weight: bold;}

code {color: #55c;}

.reveal .center-img-large {min-width: 60%;}

.normativa {color: #448 !important;  }

/* .reveal blockquote::after {content: " 》";}
.reveal blockquote::before {content: "《 ";}
.reveal blockquote::before, .reveal blockquote::after  {text-shadow: 2px 2px 5px;
font-style: normal;}

blockquote {
  width: 90% !important;
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: inline;
} */
