#footer-left::after {content: var(--copyright)
  ;}

.slide-background {
    background-image: url(../img/logo_array.png),
    url(../img/noi.svg),
    url(../img/logo_ostc.png);

  background-position:
  top 20px left 15px,
  top 20px right 20px,
  top 15px left 50%;

  background-size:
  12.5%,
  8%,
  9%;}


.fragment.highlight-red.visible {color: #da2233 !important; font-weight: bold;}

.smallish {font-size: 0.8em;}

.reveal .center-img {max-height: 4em;}
.reveal .center-img-huge {min-width: 100%; border: none;}


ul > li:before {content: "‒" ; }

.reveal ul ul > li {
    list-style-type: disc;}


code {color: #55c;}

/* .reveal blockquote::after {content: " 》";}
.reveal blockquote::before {content: "《 ";}
.reveal blockquote::before, .reveal blockquote::after  {text-shadow: 2px 2px 5px;
font-style: normal;}

blockquote {
  width: 90% !important;
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: inline;
} */
